.header-button {
	.label {
		top: 50%;
		right: 75%;
		word-break: keep-all;
		white-space: pre;
		transform: translate(0, -50%);
		opacity: 0;
	}

	&:has(.button:hover) .label {
		transform: translate(-1rem, -50%);
		opacity: 1;
	}
}
