.main-scroll {
  max-height: calc(100dvh - 32px);

  .content {

    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      border: 0;
      background-color: var(--black-8);
      box-shadow: none;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background-color: var(--black-12);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: var(--black-20);
    }
  }
}

@media (max-width: 64rem) {
  .content-scrolled {
    max-height: calc(100dvh - 56px);
  }
}
