main {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 1rem;
  box-shadow: var(--shadow-sm);
}

@media (max-width: 64rem) {
  body {
    max-height: 100vh;
  }
  main {
    overflow: auto;
  }
}
