main {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 1rem;
    box-shadow: var(--shadow-sm);
    max-height: calc(100dvh - 32px);
    overflow: auto;
}

@media (max-width: 64rem) {
    main {
        max-height: calc(100dvh - 56px);
    }
}
