:root {
	/* Black */
	--black-2: hsla(0, 0%, 2%, 1);
	--black-4: hsla(0, 0%, 4%, 1);
	--black-8: hsla(0, 0%, 8%, 1);
	--black-12: hsla(0, 0%, 12%, 1);
	--black-16: hsla(0, 0%, 16%, 1);
	--black-20: hsla(0, 0%, 20%, 1);

	/* White */
	--white-100: hsla(0, 0%, 100%, 1);
	--white-96: hsla(0, 0%, 96%, 1);
	--white-88: hsla(0, 0%, 88%, 1);
	--white-80: hsla(0, 0%, 80%, 1);
	--white-72: hsla(0, 0%, 72%, 1);
	--white-64: hsla(0, 0%, 64%, 1);
}

/* Background */
/* Black */
.bg-black-2 {
	background-color: var(--black-2);
}
.bg-black-4 {
	background-color: var(--black-4);
}
.bg-black-8 {
	background-color: var(--black-8);
}
.bg-black-12 {
	background-color: var(--black-12);
}
.bg-black-16 {
	background-color: var(--black-16);
}
.bg-black-20 {
	background-color: var(--black-20);
}

/* Black hovering */
.hover\:bg-black-2:hover {
	background-color: var(--black-2);
}
.hover\:bg-black-4:hover {
	background-color: var(--black-4);
}
.hover\:bg-black-8:hover {
	background-color: var(--black-8);
}
.hover\:bg-black-12:hover {
	background-color: var(--black-12);
}
.hover\:bg-black-16:hover {
	background-color: var(--black-16);
}
.hover\:bg-black-20:hover {
	background-color: var(--black-20);
}

/* White */
.bg-white-100 {
	background-color: var(--white-100);
}
.bg-white-96 {
	background-color: var(--white-96);
}
.bg-white-88 {
	background-color: var(--white-88);
}
.bg-white-80 {
	background-color: var(--white-80);
}
.bg-white-72 {
	background-color: var(--white-72);
}
.bg-white-64 {
	background-color: var(--white-64);
}

/* White hovering */
.hover\:bg-white-100:hover {
	background-color: var(--white-100);
}
.hover\:bg-white-96:hover {
	background-color: var(--white-96);
}
.hover\:bg-white-88:hover {
	background-color: var(--white-88);
}
.hover\:bg-white-80:hover {
	background-color: var(--white-80);
}
.hover\:bg-white-72:hover {
	background-color: var(--white-72);
}
.hover\:bg-white-64:hover {
	background-color: var(--white-64);
}

/* Color */
/* Black */
.color-black-2 {
	color: var(--black-2);
}
.color-black-4 {
	color: var(--black-4);
}
.color-black-8 {
	color: var(--black-8);
}
.color-black-12 {
	color: var(--black-12);
}
.color-black-16 {
	color: var(--black-16);
}
.color-black-20 {
	color: var(--black-20);
}

/* Black hovering */
.hover\:color-black-2:hover {
	color: var(--black-2);
}
.hover\:color-black-4:hover {
	color: var(--black-4);
}
.hover\:color-black-8:hover {
	color: var(--black-8);
}
.hover\:color-black-12:hover {
	color: var(--black-12);
}
.hover\:color-black-16:hover {
	color: var(--black-16);
}
.hover\:color-black-20:hover {
	color: var(--black-20);
}

/* White */
.color-white-100 {
	color: var(--white-100);
}
.color-white-96 {
	color: var(--white-96);
}
.color-white-88 {
	color: var(--white-88);
}
.color-white-80 {
	color: var(--white-80);
}
.color-white-72 {
	color: var(--white-72);
}
.color-white-64 {
	color: var(--white-64);
}

/* White hovering */
.hover\:color-white-100:hover {
	color: var(--white-100);
}
.hover\:color-white-96:hover {
	color: var(--white-96);
}
.hover\:color-white-88:hover {
	color: var(--white-88);
}
.hover\:color-white-80:hover {
	color: var(--white-80);
}
.hover\:color-white-72:hover {
	color: var(--white-72);
}
.hover\:color-white-64:hover {
	color: var(--white-64);
}
