@import "./color.css";
@import "./animation.css";
@import "./shadow.css";
@import "./scrollbar.css";
@import "./sugar-high.css";

:root {
  --font-family: var(--font-google-sans);  
  --font-family-code: var(--font-google-sans-code);

	--heading-color: var(--white-100);
	--text-color: var(--white-96);
}

body {
	font-family: var(--font-google-sans);
	background-color: var(--black-2);
	width: 100vw;
	min-height: 100vh;
}

main {
	/*background-color: var(--black-8);
	overflow: auto;*/
}
